div {
  border: 1px solid #eee;
}
.all-li {
  /* display: none; */
  visibility: hidden;
  /* opacity: 0; */
  opacity: 0.5;
  transition-property: opacity, visibility, margin;
  transition-timing-function: ease-out;
  transition-duration: .3s;
  /* transition-delay: 1s; */
}
.lol{
  margin-left: 2em;
  visibility: initial;
  opacity: 1;
}
.lol-1{
  transition-delay: .5s;
  
  visibility: initial;
  opacity: 1; 
}