/*All built-in elements Styles*/

html, body{
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
	font-family: "GT-America-Bold", sans-serif;
	font-weight: 600;
	margin-right: .5em;
}

ul{
	margin-top: 3em;
	margin-right: 3em;
	list-style-type: disc;
	display: inline-block;
	float: right;
}

li:last-child{
	margin-right: 0;
}

nav{
	display: inline-block;
	width: 100%;
}
section{
	width: 80%;
	margin: 0 auto;
}
h1{

	text-align: center;
	font-size: calc(2.2em + 1.5vw);
	font-family: "Denso Var", sans-serif;
}
hr{
	width: 70rem;
}
img{
	width: 100%;
	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: linear;
}
img:hover{
	opacity: .8;

}
footer{
	display: inline-block;
	width: 100%;
	font-family: "GT-America", sans-serif;
	font-size: 1.2em;
}
i{
	margin-right: 10%;
}
/*All id styles*/
#sociallink{
	font: 2em GT-America, sans-serif;
	text-align: center;
}
#copyright-text{
	margin-left: 5%;
	display: inline-block;
	float: left;
}
#social-icons{
	width: 10%;
	/*border: 1px solid black;*/
	margin-right: 2%;
	float: right;
	display: inline-block;
}

/*All Class Styles*/


.menubar{
	text-decoration: none;
	transition-property: color;
	transition-duration: .1s;
	transition-timing-function: linear;
}
.menubar:hover{
	color: #ee3838;
}
.logolink{
	margin-top: 1em;
	margin-left: 1em;
	display: inline-block;
	float: left;
}
.logo{
	transition-property: fill;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: .1s;
}
.logo1{
	transition-property: fill;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: .1s;
}

.logo{
	fill: #ee3838;
}
.logo1{
	fill: #ffffff;
}
.namestyle{
	color: #f90000;
}
.social-link-style{
	
	color: #EE4938;
}
.social-link-style:hover{
	color: #A8291C;
}
.image-textbar{
	display: inline-block;
	width: 100%;
}
.forimage{
	width: 40%;
	display: inline-block;
	float: left;
}
.sidetext{
	display: inline-block;
	width: 50%;
	margin-top: 4%;
	margin-left: 4%;
	/*border: 1px solid black;*/
	font-size: 21px;
	font-family: "GT-America", sans-serif;
}
.sidetext p{
	text-align: center;
}
.sidetext a{
	color: #ee3838;
}
.sidetext a:hover{
	color: #A8291C;
}
