/* -------------------- */
/*All built-in elements Styles*/
/* -------------------- */

/* border: 1px solid black; */

html, body{
	margin: 0;
	padding: 0;
}
nav{
	/* border: 1px solid black; */
	display: inline-block;
	width: 100%;
}
section{
	width: 80%;
	margin: 0 auto;
}
hr{
	width: 100%;
}
img{
	width: 100%;
	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: linear;
}
img:hover{
	opacity: .8;

}
footer{
	display: inline-block;
	width: 100%;
	font-family: "GT-America", sans-serif;
	font-size: 1.2em;
}
i{
	margin-right: 10%;
}
figcaption{
	margin-top: 0.7em;
	text-align: center;
}

/* -------------------- */
/*All id styles*/
/* -------------------- */


#sociallink{
	font: 1.3em GT-America, sans-serif;
	/* text-align: center; */
}
/* checked */
#copyright-text{
	/* border: 1px solid black; */
	width: 50%;
	margin-left: 5%;
	display: inline-block;
	float: left;
}
/* checked */
#social-icons{
	width: 35%;
	/* border: 1px solid black; */
	/* margin-right: 1%; */
	float: right;
	display: inline-block;
}

/* -------------------- */
/*All Class Styles*/
/* -------------------- */


.index-ul li{
	display: inline-block;
	font-family: "GT-America-Bold", sans-serif;
	font-weight: 600;
	margin-right: .5em;
}

/* checked */
.index-ul{
	/* border: 1px solid black; */
	/* margin-right: 3em; */
	/* list-style-type: disc; */
	/* display: inline-block; */
	/* float: right; */
		text-align: center;
	padding: 0;
} 

.index-ul li:last-child{
	margin-right: 0;
}
/* checked */
.index-h1{

	text-align: center;
	font-size: calc(1.2em + 1.5vw);
	font-family: "Denso Var", sans-serif;
}
.menubar{
	text-decoration: none;
	color: maroon;
	transition-property: color;
	transition-duration: .1s;
	transition-timing-function: linear;
}
.menubar:hover{
	color: #ee3838;
}
/* checked */
.logolink{
	/* border: 1px solid black; */
	display: block;
	width: 21%;
	margin: 0 auto;
	margin-top: 1em;
}
.logo{
	transition-property: fill;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: .1s;
}
.logo1{
	transition-property: fill;
	transition-duration: .2s;
	transition-timing-function: linear;
	transition-delay: .1s;
}

.logo{
	fill: #ee3838;
}
.logo1{
	fill: #ffffff;
}
.namestyle{
	color: #f90000;
}
.social-link-style{
	text-decoration: none;
	color: #EE4938;
}
.social-link-style:hover{
	color: #A8291C;
}
.image-textbar{
	/* border: 1px solid black; */
	display: inline-block;
	width: 100%;
}
/* checked */
.forimage{
	width: 100%;
	/* display: inline-block; */
	/* float: left; */
}
/* checked */
.sidetext{
	/* display: inline-block; */
	width: 100%;
	/* margin-top: 4%; */
	/* margin-left: 4%; */
	/*border: 1px solid black;*/
	font-size: 21px;
	font-family: "GT-America", sans-serif;
}
.sidetext p{
	text-align: center;
}
.sidetext a{
	color: #ee3838;
}
.sidetext a:hover{
	color: #A8291C;
}
section.note-section{
	/* border: 1px solid black; */
	width: 60%;
	margin: 0 auto;
	padding: 1em;
	margin-top: 3em;
}
section.note-section a{
	text-decoration: none;
	color: #3a3a3a;
	transition: color 0.2s ease-out;
	font-family: "Denso Var", sans-serif;
}
section.note-section a:hover{
	color: #EE4938;
}
.article-heading{
	margin: 0;
	margin-top: .4em;
	margin-bottom: 1em;
	font-size: 3em;
}
.article-style{
	line-height: 1.8em;
	font-size: 1.3em;
	font-family: "GT-America", sans-serif;
}
.content-link{
	color: #EE4938 !important;
}
.content-link:hover{
	color: maroon !important;
}
.article-style img{
	display: block;
	width: 80%;
	margin: 0 auto;
}
.section-profile{
	/* border: 1px solid black; */
	display: inline-block;
}
.sp-pic{
	/* border: 1px solid black; */
	margin-left: 3em;
	padding: 1em;
	width: 30%;
	display: inline-block;
	float: left;
}
.p-img{
	width: 100%;
}
.profile-intro{
	margin-top: 5em;
	margin-left: 5em;
	width: 50%;
	/* border: 1px solid black; */
	display: inline-block;
}
.profile-intro h1{
	font-size: 2.5em;
	font-family: "Lucida Handwriting", Cursive;
}
.profile-intro p{
	line-height: 1.5em;
	font-size: 1.3em;
	font-family: Helvetica, sans-serif;
}
.skill-set{

}
.info-h1{
	text-align: center;
	font-family: "Lucida Handwriting", Cursive;
	font-size: 3em;
	
}
.info-p{
	margin-left: 2em;
	line-height: 1.5em;
	font-size: 1.5em;
	font-family: Helvetica, sans-serif;
}
.ac-li{
	list-style-position: inside;
	line-height: 1.5em;
	font-size: 1.5em;
	font-family: Helvetica, sans-serif;
}
.hob-ul{
	list-style-type: none;
}
.hob-ul li{
	margin-left: 1.5em;
	display: inline-block;
	width: 22%;
}
.hob-ul li:first-child{
	margin-left: 1em;
}
.hob-ul li img{
	height: 225px;
}

.svg-text{
	font-size:18px;
}
.svg-ellipse{
	ry:25px;
	rx:28px;
	cy:30px;
	cx:38.5px;
}
.svg{
	/* border: 1px solid black; */
	margin: 0 auto;
	width:75px;
	height:62px;
}


/* -------------------- */
/* All media queries */
/* -------------------- */


@media all and (min-width: 480px){

	/* -------------------- */
/* All media class queries */
/* -------------------- */

	.logolink{
		margin-top: 1em;
		margin-left: 1em;
		display: inline-block;
		float: left;
	}
	.svg-text{
		font-size:24px;
	}
	.svg-ellipse{
		ry:29px;
		rx:36.5px;
		cy:30px;
		cx:43.5px;
	}
	.svg{
		width:183px;
		height:62px;
	}
	.index-ul{
		margin-top: 3em;
		margin-right: 3em;
		list-style-type: disc;
		display: inline-block;
		float: right;
	}
	.index-h1{

		text-align: center;
		font-size: calc(2.2em + 1.5vw);
		font-family: "Denso Var", sans-serif;
	}
	.forimage{
		width: 40%;
		display: inline-block;
		float: left;
	}
	.sidetext{
		display: inline-block;
		width: 50%;
		margin-top: 4%;
		margin-left: 4%;
		/*border: 1px solid black;*/
		font-size: 21px;
		font-family: "GT-America", sans-serif;
	}
/* -------------------- */
/* All media id queries */
/* -------------------- */

	#sociallink{
		font: 2em GT-America, sans-serif;
		text-align: center;
	}
	#copyright-text{
		/* border: 1px solid black; */
		/* margin-left: 5%; */
		display: inline-block;
		float: left;
	}
	#social-icons{
		width: 10%;
		/* border: 1px solid black; */
		margin-right: 2%;
		float: right;
		display: inline-block;
	}
}